body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.welcome-message {
	text-align: center;
	border: 1px solid #ddd;
	padding: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 8px;
}

.welcome-message img {
	max-width: 35%;
	height: auto;
	margin-bottom: 20px; /* Adjusts space between the image and the text */
}

.welcome-message h1 {
	margin: 0;
	margin-bottom: 50px;
	margin-top: 10px;
	color: #333;
	font-size: 2em;
}

.from-top-role-space {
	margin-top: -40px;
}

.text-spacing {
   margin-left: 25px;
	
}