<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="3;url=/logout">
<title>Logout Confirmation</title>
<!-- Add Bootstrap CSS link here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<link rel="stylesheet" type="text/css" href="/css/logout.css" />

</head>
<body>
	<div
		class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
		<div class="card-body">
			<div class="container">
				<div class="logo text-spacing">
					<h1>Ticket Tracker Application</h1>
				</div>
				<div class="checkmark">
					<img src="/images/checkmark.png" alt="Checkmark">
				</div>
				<div class="message text-spacing">
					<h1>You have been logged out</h1>
					<h1>Thank you</h1>
				</div>
			</div>
		</div>
	</div>
</body>
</html>